{# webrtctalk template #}
<div id="webrtctalk-video">
        <h1>Webrtctalk Session</h1>

    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>

    <div>
      <button id="startButton">Start</button>
      <button id="callButton">Call</button>
      <button id="hangupButton">Hang Up</button>
    </div>
</div>